<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DaZuanPan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GuaGuaKa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Kfc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Mcdonalds.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>YaoQianZuan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ZuanZuanZuan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD2EB6D51744C1C700A222D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD81F22F191E2DB90080656C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9F5BD8190E5CA700100AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDAF0253180F964C0073A9FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD3FB24181E96E6002B8EC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD5B62C18CCC0D00091D2C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
